/carla-0913-env/
/saved/
/test/

/carla_simulator/CarlaUE4/ 
/carla_simulator/Engine/ 
/carla_simulator/carla-0.9.13-py3.7-linux-x86_64.egg 
/carla_simulator/carla_simulator.tar.xz
/carla_simulator/CarlaUE4.sh 

/resources/yolov5/ 
/resources/complex_yolov4.cfg 
/resources/complex_yolov4.pth 
/resources/resources.tar.xz 

yolov5s.pt 

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

.python-version 